.button {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #FFF;
    box-shadow: 0px 6px #FFF, 0px 0px 16px #FFF;
    width: 10em;
    font-family: Heading;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition: 0.5s;
    text-align: center;
}

.button:hover {
    box-shadow: 0px 2px #FFF, 0px 0px 64px #FFF;
    top: 4px;
}

.button-9 {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #FF0000;
    box-shadow: 0px 6px #FF0000, 0px 0px 16px #FF0000;
    color: #FF0000;
    width: 10em;
    font-family: Num;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition: 0.5s;
    text-align: center;
}

.button-9:hover {
    box-shadow: 0px 2px #FF0000, 0px 0px 64px #FF0000;
    background-color: #FF0000;
    color: #FFF;
    top: 4px;
}

.button-big {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0px 6px #FFF, 0px 0px 16px #FFF;
    width: 20em;
    /* Allow height to adjust based on content */
    font-family: Heading;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition: 0.5s;
    text-align: left; /* Align text to left */
    padding: 0.5em;
    
    /* Flex settings */
    display: flex;
    align-items: center; /* Center content vertically */
    gap: 0.5em;
}

.button-big:hover {
    box-shadow: 0px 2px #FFF, 0px 0px 64px #FFF;
    top: 4px;
    cursor: url(../img/ui/pointer.png), default;
}

.button-big img {
    /* Increase the image size */
    width: 40px;   /* Adjust to your liking */
    height: 40px;  /* Adjust to your liking */
    
    /* Center the image vertically */
    align-self: center;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-text .main-text {
    font-size: 0.8em; /* Adjust main text size if needed */
    font-weight: bold;
}

.button-text .sub-text {
    font-size: 0.5em; /* Make sub-text smaller */
    font-family: "Paragraph";
    opacity: 0.8;
}

