@font-face {
    font-family: Heading;
    src: url("https://theprojectofficial.github.io/stuff/heading.ttf");
}

@font-face {
    font-family: Paragraph;
    src: url("https://theprojectofficial.github.io/stuff/paragraph.ttf");
}

@font-face {
    font-family: Gothic;
    src: url("https://theprojectofficial.github.io/new/fonts/gothic.ttf");
}

@font-face {
    font-family: Num;
    src: url("https://theprojectofficial.github.io/new/fonts/visitor.ttf");
}

h1 {
    font-family: "Heading";
}

p {
    font-family: "Paragraph";
}

::selection {
	background-color: #FFF;
	color: #000;
}
::-moz-selection {
	background-color: #FFF;
	color: #000;
}

.no-select::selection {
	background-color: inherit;
	color: inherit;
}
.no-select::-moz-selection {
	background-color: inherit;
	color: inherit;
}
.no-select ::selection {
	background-color: inherit;
	color: inherit;
}
.no-select ::-moz-selection {
	background-color: inherit;
	color: inherit;
}

.link-container {
    display: flex; /* Places items in a row */
    gap: 10px; /* Adds spacing between links */
}
